@model Sach

<div>
    Mã sách: <b>@Model.MaSach</b><br />
    Tiêu đề sách: <b>@Model.TieuDeSach</b><br />
    Năm xuất bản: <b>@Model.NamXuatBan</b><br />
    Mã tác giả: <b>@Model.MaTacGia</b><br />
    Thể loại: <b>@Model.TheLoai</b><br />
</div>
